<style>

.card {
  font-family: sans-serif;
  font-size: 18px;
  background: #D2D2D2;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.search-button {
  height: 50px;
  border-style: none;
}

.search-button:hover {
  cursor: pointer;
}

.search-icon {
  background-color: white; 
  color: black; 
  width: 50px; 
  border-radius: 0px;
  border-style: none;
  border-left-style: solid;
}

.search-icon:hover {
  background-color: rgb(200, 200, 200);
}

#titlediv {
width: 100%;
}

#authordiv {
width: 100%;
}

.del-icon:hover {
  cursor: pointer;
  color: red;
}
.nomargin {
margin: 0px;
}
.nopadding {
padding: 0px;
}

.marginTop {
  margin-top: 10px !important;
}

.smallButton {
padding: 6px;
height: 40px;
}

.notPicked {
background-color: silver;
border-color: silver;
}

</style>

<div class="" style="max-width: 1000px; margin: auto;">
  <div class="card-block col-12 ">
    <div class="row">
      <div class="col-12">
        <h1 class="txt-highlight text-center m-t-20">
          Dodaj ogłoszenie 
        </h1>
      </div>
    </div>
  

    <div class="row search-header">
      <div class="col-12 offset-sm-0" >
        <form  [formGroup]='form' autocomplete="new-password" novalidate>
          
          <div id="titlediv" class="col-12 nopadding marginTop">
            <input id='title' autocomplete="off"  placeholder="Tytuł" formControlName='title' (click)=' openDropDown() ' (keyup)="onStrokeSearch($event)" class=' input-underline search-bar col-12' type='text' style="width: 100%;">
            <div clickOutside (clickOutside)="closeDropDown()">
              <div *ngIf='showDropDown' class='search-drop-down ' style="width: 100%;">
                <div (click)='selectValue(s)' class='search-results ' *ngFor="let s of titles ">
                  <a [innerHTML]="s.title | letterBold: getSearchValue()">
                    {{s}}
                  </a>
                </div>
              </div>
            </div>
            <span *ngIf="submitted && titleBlank" class="messages"><p class="text-danger error">Podaj tytuł</p></span> 
          </div>

          <div id="authordiv" class="col-12 nopadding marginTop">
            <input id='author' autocomplete="off"  placeholder="Autor" formControlName='author' (click)=' openDropDown2() ' (keyup)="onStrokeSearch2($event)" class=' input-underline search-bar col-12' type='text' style="width: 100%;">
            <div clickOutside (clickOutside)="closeDropDown2()">
              <div *ngIf='showDropDown2' class='search-drop-down ' style="width: 100%;">
                <div (click)='selectValue2(s)' class='search-results ' *ngFor="let s of authors ">
                  <a [innerHTML]="s.title | letterBold: getSearchValue2()">
                    {{s}}
                  </a>
                </div>
              </div>
            </div>
            <span *ngIf="submitted && authorBlank" class="messages"><p class="text-danger error">Podaj autora</p></span> 
          </div>
          
          <div class="col-12  nopadding autopadding marginTop" style="margin:auto; height: 50px;">
            <select name="select" class="form-control form-control-primary" style="height: 100%; -webkit-box-shadow: none; " formControlName="categoryId">
              <option  *ngFor="let item of categories; let i = index " value="{{item.id}}" >
                {{ item.name }}
              </option>
            </select>
          </div>
            
          <div class="col-12 nopadding autopadding marginTop" style="margin:auto; height: 50px;">
            <ng-select (keyup)="onStrokeSearch3($event)" placeholder="Wybierz miasto" [ngClass]="'ng-select'" [allowClear]="true" [options]="simpleOption" formControlName="addressId">
            </ng-select>
          </div>

          <div style="background-color: white; padding:20px;" class=" marginTop">
            <div class="checkbox-fade fade-in-default" style="line-height: 30px;">
              <label>
                <input type="checkbox" value="" formControlName="type">
                  <span class="cr">
                    <i class="cr-icon icofont icofont-ui-check txt-default" style="color: green"></i>
                  </span>
                  <span style="font-size: 15px;">Możliwość wymiany (nie zapomnij wpisać interesujących Cię książek w opisie)</span>
              </label>
            </div>
          </div>





          <div class="form-group marginTop" style="background-color: white; padding: 10px; padding-left: 25px; line-height: 30px;">
            <div style="float: left;">
              <label class="col-form-label">Cena: </label>
            </div>
            <div class="" style="float: left; margin-left: 10px; margin-right:5px;">
              <input type="number" formControlName="price" value="0" min="0" max="9999">
              <!--
              <input type="text" formControlName="price" class="form-control autonumber" data-v-max="9999" data-v-min="0" [options]="{ align: 'right' }" value="0">
              -->
            </div>
            <div class="" style="">
              <label class="col-form-label">zł</label>
            </div>
          </div>


          <div class="form-group form-default marginTop">
            <textarea formControlName="content" placeholder="Opis ogłoszenia" class="form-control" style="background-color: white; text-indent: 10px; padding-top: 10px;"></textarea>
            <span class="form-bar"></span>
          </div>
          
          <div class="form-group marginTop" style="background-color: white; padding-top: 10px; padding-bottom: 10px;" class="col-12 nopadding" >
              <label for="upload-file" class="btn btn-primary m-b-0 ripple light col-12 col-sm-6 offset-0 offset-sm-3" style="" >Dodaj zdjęcie (maks. 3)</label> 
              <input id="upload-file" type="file" class="form-control" (change)="onFileChange($event)" style="display: none;">
            <br>

            <div class="row" style="margin-top: 50px;" >
              <div *ngIf="imageSrc1" class="col-lg-4 col-sm-6 " >
                <div class="thumbnail" style="text-align: center;">
                  <div class="thumb ">
                      <img [src]="imageSrc1" alt="" class="img-fluid img-thumbnail">
                  </div>
                  <div *ngIf="!this.img1Loaded" style=" width: 100px; margin:auto;">
                    <div style="float: left"><i>Wysyłanie</i>&nbsp;&nbsp;</div>
                    <svg id="loader2" viewBox="0 0 100 100" style="float: left; width:20px; height:20px;">
                       <circle id="circle-loader2" cx="50" cy="50" r="45"></circle>
                    </svg>
                  </div>
                  <button *ngIf="this.img1Loaded" type="button" (click)="setThumbnail(1)" style="margin-right: 5px; padding: 3px;" class="btn btn-primary m-b-0 ripple light  smallButton"   [ngClass]="{'notPicked' : offerThumbnail != 1}" >Miniaturka</button>
                  <button *ngIf="this.img1Loaded" type="button" class="btn btn-primary m-b-0 ripple light  smallButton" (click)="delImg1()">Usuń <i class="fa fa-times-circle del-icon" ></i></button>
                </div>
              </div>
              <div *ngIf="imageSrc2" class="col-lg-4 col-sm-6 ">
                <div class="thumbnail" style="text-align: center;">
                  <div class="thumb ">
                    <img [src]="imageSrc2" alt="" class="img-fluid img-thumbnail">
                  </div>
                  
                  <div *ngIf="!this.img2Loaded" style=" width: 100px; margin:auto;">
                    <div style="float: left"><i>Wysyłanie</i>&nbsp;&nbsp;</div>
                    <svg id="loader2" viewBox="0 0 100 100" style="float: left; width:20px; height:20px;">
                       <circle id="circle-loader2" cx="50" cy="50" r="45"></circle>
                    </svg>
                  </div>
                  <button *ngIf="this.img2Loaded" type="button" (click)="setThumbnail(2)" style="margin-right: 5px; " class="btn btn-primary m-b-0 ripple light smallButton"   [ngClass]="{'notPicked' : offerThumbnail != 2}">Miniaturka</button>
                  <button *ngIf="this.img2Loaded" type="button" class="btn btn-primary m-b-0 ripple light  smallButton" (click)="delImg2()">Usuń <i class="fa fa-times-circle del-icon" ></i></button>
                </div>
              </div>
              <div *ngIf="imageSrc3" class="col-lg-4 col-sm-6 ">
                <div class="thumbnail" style="text-align: center;">
                  <div class="thumb ">
                    <img [src]="imageSrc3" alt="" class="img-fluid img-thumbnail">
                  </div>
                  
                  <div *ngIf="!this.img3Loaded" style=" width: 100px; margin:auto;">
                    <div style="float: left"><i>Wysyłanie</i>&nbsp;&nbsp;</div>
                    <svg id="loader2" viewBox="0 0 100 100" style="float: left; width:20px; height:20px;">
                       <circle id="circle-loader2" cx="50" cy="50" r="45"></circle>
                    </svg>
                  </div>
                  <button *ngIf="this.img3Loaded" type="button" (click)="setThumbnail(3)" style="margin-right: 5px; " class="btn btn-primary m-b-0 ripple light smallButton"   [ngClass]="{'notPicked' : offerThumbnail != 3}">Miniaturka</button>
                  <button *ngIf="this.img3Loaded" type="button" class="btn btn-primary m-b-0 ripple light  smallButton" (click)="delImg3()">Usuń <i class="fa fa-times-circle del-icon" ></i></button>
                </div>
              </div>
            </div>
          </div>

          
          <div class="col-sm-6 offset-sm-3 offset-0 nopadding" style="margin-top: 50px;">
            <span *ngIf="submitted && (!img1Loaded || !img2Loaded || !img3Loaded)" class="messages"><p class="text-danger error">Poczekaj na zakończenie wysyłania zdjęć</p></span> 
            <button type="submit" (click)="onSubmit()" class="btn btn-primary m-b-0 ripple light col-12" style="margin:auto;" [disabled]="!form.valid">Dodaj ogłoszenie</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


